body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1F2937;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
    padding: 40px 50px;
}

.hero-heading {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 10px;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

.hero-button {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 5px;
    padding: 5px 25px;
    border: none;
}

.information {
    padding: 40px 50px;
}

.info-heading {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    margin-bottom: 40px;
}

.items {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #1F2937;
}

.items img {
    width: 180px;
    height: 180px;
    border-radius: 5px;
    border-style: solid;
    border-color: #3882F6;
    margin-bottom: 5px;
}

.quote {
    background-color: #E5E7EB;
    padding: 50px 60px;
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.text {
    font-weight: bold;
}

.call {
    padding: 50px 60px;
}

.box {
    background-color: #3882F6;
    border-radius: 5px;
    padding: 50px 60px;
    color: #E5E7EB;
    display: flex;
    justify-content: space-between;
}

.box .title {
    font-weight: bold;
}

.box button {
    background-color: #3882F6;
    border-radius: 5px;
    border-color: #E5E7EB;
    padding: 5px 25px;
    color: #F9FAF8;
}